[Desktop Entry]
Type=Application
Version=1.0
Name=Explorer
GenericName=App Store
Keywords=app;store;software;install;system;
Encoding=UTF-8
Terminal=false
Exec=explorer
Icon=/usr/share/pixmaps/explorer.png
Comment=Install all your favourite apps
Categories=System;Apps;
StartupNotify=true
